<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mortgage Calculator</title>    
</head>
<body>
<div class="main">    
    <div class="schedule">
        <table>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>monthlyPayment</td>
                <td th:class="monthlyPayment"
                    th:text="${#numbers.formatDecimal(monthlyEmi, 0, 'COMMA', 2, 'POINT')}">
                    monthlyPayment
                </td>
            </tr>
        </table>
        <br/>

        <h1>Amortization Schedule</h1>
        <table>
            <tr>
                <th>paymentNumber</th>
                <th>paymentDate</th>
                <th>balance</th>
                <th>principalPaid</th>
                <th>interestPaid</th>
                <th>accumulatedInterest</th>
            </tr>
            <tr th:each="payment,iterStat : ${paymentList}"
                th:class="${iterStat.odd}? 'odd'">
                <td th:class="paymentNumber" th:text="${#numbers.formatInteger(payment.paymentNumber,0)}">
                    paymentNumber
                </td>
                <td th:class="paymentDate" th:text="${#dates.format(payment.paymentDate, 'MM/dd/yyyy')}">
                    paymentDate
                </td>
                <td th:class="balance" th:text="${#numbers.formatDecimal(payment.balance, 0, 'COMMA', 2, 'POINT')}">
                    balance
                </td>
                <td th:class="principalPaid"
                    th:text="${#numbers.formatDecimal(payment.principalPaid, 0, 'COMMA', 2, 'POINT')}">
                    principalPaid
                </td>
                <td th:class="interestPaid"
                    th:text="${#numbers.formatDecimal(payment.interestPaid, 0, 'COMMA', 2, 'POINT')}">
                    interestPaid
                </td>
                <td th:class="accumulatedInterest"
                    th:text="${#numbers.formatDecimal(payment.accumulatedInterest, 0, 'COMMA', 2, 'POINT')}">
                    accumulatedInterest
                </td>
            </tr>
        </table>

        <br/>
    </div>
</div>
</body>
</html>